*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    overflow-y: hidden;
    /* background-image: url(./image/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; */
}
img{
    width: 500px;
    height: auto;
}

.navbar-brand {
    font-weight: 600;
}

.nav-link{
    color: rgb(255, 193, 7);
    font-size: large;
}

.container-fluid, .container{
    border: 1px solid green;
}

.blog-container{
    display: flex;
    flex-direction: row;
}